{% extends 'Base/base.html.twig' %}

{% block body %}
    <h1>Das Projekt</h1>

    <p>Hachschara als Erinnerungsort ist ein gemeinsames Projekt der <a href="https://www.stiftung-denkmal.de/" target="_blank">Stiftung Denkmal für die ermordeten Juden Europas (Berlin)</a>, dem <a href="https://www.mmz-potsdam.de/" target="_blank">Moses Mendelssohn Zentrum für Europäisch-Jüdische Studien (Potsdam)</a> und dem <!--<a href="https://www.juedischejugendkultur.de/" target="_blank">-->DFG-Projekt: Zwischen Alija und Flucht. Jüdische Jugendbünde und zionistische Erziehung unter dem NS-Regime und im vorstaatlichen Israel 1933–1945 (Braunschweig)<!--</a>-->.</p>

    <p>Das Projekt hat drei Ziele:</p>
    <ol>
    <li>Als <a href="{{ path('about-network') }}"><b>Netzwerk</b>-Projekt</a> dient es dem gegenseitigen Kennenlernen wie auch dem Wissens-Transfer der häufig lokal verankerten Forschung zu den einzelnen Hachschara-Stätten. Das Netzwerk ermöglicht einen Erfahrungsaustausch, den Aufbau von überregionalen Perspektiven sowie die Unterstützung neuer lokaler Initiativen.</li>
    <li>Als <a href="{{ path('site-map') }}"><b>Datenbank</b>-Projekt</a> bietet es fundierte Informationen zu den Hachschara-Stätten, die in diesem Online-Portal der Öffentlichkeit frei zugänglich gemacht werden.</li>
    <li>Als <b>Denkmal</b>-Projekt erarbeitet es Konzepte zur Sichtbarmachung ehemaliger Hachschara-Orte. Ziel sind Markierungen vor Ort, die sowohl zur spezifischen Geschichte des entsprechenden Ortes als auch zu allgemeinen Aspekten der Hachschara Auskunft geben.</li>
    </ol>

    <p>Mit dem Projekt soll an die Aktivitäten zur Berufsbildung und Berufsumschichtung junger Juden und Jüdinnen erinnert werden, die zur Vorbereitung auf ihre Alija (Auswanderung) dienten. Damit wird auch an das Leben, die Arbeit und Lebendigkeit tausender Jugendlicher erinnert, denen über diese Institutionen die Flucht aus Deutschland gelang und die ihre Hachschara in den 1930er-Jahren in vielen Lebenszeugnissen auch als „Schützende Inseln inmitten der braunen Flut“ (Michaeli/Klönne) begriffen. Zugleich soll auch die schrittweise Zerstörung des Hachschara-Werkes in Deutschland durch die Nationalsozialisten nach dem Novemberpogromen 1938 und die Umwandlung von Hachschara-Stätten in Zwangsarbeitslager dokumentiert werden. Es soll auch daran erinnert werden, wie aus den „schützenden Inseln“ Ghettos wurden, in denen junge Menschen zu harter körperlicher Arbeit gezwungen wurden, in denen sie hungerten, sich nach ihren Familien und nach einer eigenen Zukunft sehnten und von wo die meisten von ihnen schließlich in die Vernichtungslager deportiert wurden.</p>
    <p>Bisherige Forschungen zur Hachschara wurden weitgehend von lokalen Initiativen, temporären wissenschaftlichen Projekten, historisch interessierten Laien und einzelnen Wissenschaftler:innen getragen. Das Projekt will diese Initiativen vernetzen und verstreute Wissensbestände sammeln, um die öffentliche Aufmerksamkeit für das Thema zu erhöhen und neue Initiativen anzustoßen. Denn es gibt viele ehemalige Hachschara-Stätten, die noch weitgehend unerforscht sind. Der Netzwerk-Charakter des Projektes soll Informationen bündeln, den gegenseitigen Austausch ermöglichen und eine breitere Öffentlichkeit einbinden.</p>
    <p>Uns ist bewusst, dass nicht jeder Ort, an dem Hachschara stattfand, in ein Museum verwandelt werden kann. Wir setzen uns aber dafür ein, dass diese Stätten öffentlich zugänglich bleiben, damit die Erinnerung an die Hachschara an den historischen Orten sichtbar werden kann. Wir wollen deshalb in diesem Projekt gemeinsam mit lokalen Initiativen prototypisch Konzepte zur Sichtbarmachung ehemaliger Hachschara-Orte entwickeln.</p>

    <p>In der ersten Phase konzentriert sich das Projekt auf die bis 1943 existierenden Hachschara-Einrichtungen im ländlichen Raum im Deutschen Reich. Eine Erweiterung auf nach 1933 im europäischen Ausland sowie nach dem Krieg in Westdeutschland gegründete Stätten wird angestrebt. Dazu wird die Mitwirkung von Forscher:innen und Initiativen auch außerhalb Deutschlands angestrebt. Die in vielen Städten angebotenen handwerklichen und hauswirtschaftlichen Ausbildungen klammern wir aufgrund der großen Anzahl solcher Einrichtungen und der bislang lückenhaften Quellensituation zunächst aus.</p>

    <h2 id="team">Projektteam</h2>
    <dl>
        <dt>Projektleitung</dt>
        <dd><a href="https://www.tu-braunschweig.de/allg-paed/personal/upilar" target="_blank">Prof. Dr. Ulrike Pilarczyk</a> / <a href="https://www.mmz-potsdam.de/team/miriam-ruerup" target="_blank">Prof. Dr. Miriam Rürup</a></dd>

        <dt>Redaktion und Koordination</dt>
        <dd><a href="https://www.tu-braunschweig.de/allg-paed/personal/bergbauer" target="_blank">Knut Bergbauer</a> / <a href="https://www.mmz-potsdam.de/team/nina-zellerhoff" target="_blank">Nina Zellerhoff</a></dd>

        <dt>Technische Konzeption und Realisierung</dt>
        <dd><a href="https://www.mmz-potsdam.de/team/daniel-burckhardt">Daniel Burckhardt</a></dd>
    </dl>

    <h2 id="advisary-board">Wissenschaftlicher Beirat</h2>
    <ul class="bullet-inside">
        <li><a href="https://koebner.huji.ac.il/people/ofer-ashkenazi" target="_blank">Prof. Ofer Ashkenazi</a> (Hebräische Universität Jerusalem)</li>
        <li>Franziska Bogdanov (Jüdisches Museum Berlin)</li>
        <li>Dr. Verena Buser (Berlin)</li>
        <li><a href="http://www.steinheim-institut.de/wiki/index.php/Mitarbeiter:Harald_Lordick" target="_blank">Harald Lordick</a> (Steinheim-Institut, Essen)</li>
        <li><a href="https://leobaeck.org/institutes-staff/?lang=en" target="_blank">Dr. Irene Aue-Ben-David</a> (Leo Baeck Institut, Jerusalem)</li>
        <li><a href="https://www.gdw-berlin.de/gedenkstaette/mitarbeiter-innen/" target="_blank">Dr. Christine Müller-Botsch</a> (Gedenkstätte Deutscher Widerstand)</li>
        <li>Jim Tobias (NURINST, Nürnberg)</li>
    </ul>

    <h2 id="history">Projektgeschichte</h2>
    <p>Im Februar 2020 erreichte uns eine E-Mail von Arnold Bischinger (Neuendorf im Sande), in der er vom geplanten Verkauf von Skaby, einer ehemaligen Hachschara-Stätte bei Spreenhagen, berichtete.</p>
    <p>Aus der Diskussion der Frage, wie verhindert werden könnte, dass historisch bedeutsame Hachschara-Orte mit ihrer Privatisierung auch als sichtbare Orte der Erinnerung verschwinden, entstand die Idee eines Projektes, in dem sich lokale Initiativen, Laienforscher:innen und Historiker:innen in einem Netzwerk zusammenfinden sollten.</p>
    <p>Deshalb wurden von den Projekt-Initiator:innen im Frühjahr 2021 alle uns bekannten Historiker:innen und lokalen Initiativen zur Geschichte der Hachschara im deutschsprachigen Raum kontaktiert. Im Juni 2021 fand sich ein Großteil von ihnen in einem ersten virtuellen Workshop zusammen.</p>
    <p>Als erstes Ergebnis wird im Herbst 2022 dieses Online-Portal freigeschaltet. Es wird in den nächsten Monaten um weitere Einträge von Hachschara-Einrichtungen ergänzt. Über Rückmeldungen zu den bestehenden Einträgen und die Bereitschaft zur Erstellung neuer Artikel freuen wir uns sehr.</p>
{% endblock %}
