{% extends 'Base/base.html.twig' %}

{% block body %}
    <h2 id="contact">Contact</h2>
    <p>If you have any questions or suggestions regarding <a href="{{ path('about') }}">the project</a>, you can contact us via e-mail to <a href="mailto:info@hachschara-als-erinnerungsort.de">info@hachschara-als-erinnerungsort.de</a>.
    </p>

    <h2 id="imprint">Imprint</h2>
    <p>Moses Mendelssohn Center for European-Jewish Studies e. V.</p>
    <p>Am Neuen Markt 8<br />
    D-14467 Potsdam</p>

    <p>Tel.: +49 (0)331 - 280 94 - 0<br />
    Fax: +49 (0)331 - 280 94 - 50</p>

    <p>E-Mail: moses@mmz.uni-potsdam.de<br />
    Internet: www.mmz-potsdam.de</p>

    <p>Authorized person: Prof. Dr. Miriam Rürup</p>
    <p>Register Court: Amtsgericht Potsdam<br />
    Register Number: VR 1074</p>

    <p>Responsible for content according to § 6 MDStV: Daniel Burckhardt and Nina Zellerhoff</p>

    <h2 id="data-protection">Privacy</h2>
    <p>This is an online offer of the Moses Mendelssohn Center for European-Jewish Studies e. V. (MMZ). The <a href="https://www.mmz-potsdam.de/en/contact/privacy">general data protection declaration of the MMZ</a> applies to the processing of all personal data arising in the course of the operation of this site.
    </p>
{% endblock %}
